@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='checkbox'] {
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  cursor: pointer;
}

input[type='checkbox']:checked {
  background: #ff8d00
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M20.285 6.319l-9.567 9.566a1 1 0 0 1-1.415 0l-4.268-4.267a1 1 0 1 1 1.414-1.415l3.554 3.554 8.852-8.852a1 1 0 0 1 1.415 1.414z"/></svg>')
    no-repeat center center;
  background-size: 14px;
  border: none;
}

tr:active {
  cursor: grabbing;
}
